.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 98%;
  height: 10px;
  border-radius: 5px;
  background: #f0eeee;
  outline: none;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  margin-left: -2px;
  border: 0;
  background: url('/static/svgs/slider-icon.svg');
  cursor: pointer;
  
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('/static/svgs/slider-icon.svg');
  cursor: pointer;
}

.slider::-ms-fill-lower {
  background: #041f60;
}
